
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Unlimited Data, Unlimited Fun</h2>
                        <p class="text-muted">Check out what you can do using HeartBit.</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-lg-12 text-center">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-screen-smartphone text-primary"></i>
                                    <h3>Our Code is Smart</h3>
                                    <p class="text-muted">The more you use our software, the more it optimizes to you.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-camera text-primary"></i>
                                    <h3>Images</h3>
                                    <p class="text-muted">HeartBit supports the use of all types of images.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-present text-primary"></i>
                                    <h3>Package Deals</h3>
                                    <p class="text-muted">We offer packages of the features you need to save you money and time.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-lock-open text-primary"></i>
                                    <h3>Encryption</h3>
                                    <p class="text-muted">Your data will never be accessible to anyone else but you.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                <div class="col-lg-12 text-center">
                  <h3>We host our data on the cloud.</h3>
                  <a target="_blank" href="https://www.digitalocean.com/" style="color:black" class="btn btn-outline btn-xl">Digital Ocean</a>  
                </div>
            </div>
        </div>
    </section>
